@import './reset.css';

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header nav {
  width: 100%;
}
.navList {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.navList li a {
  color: white;
  font-size: 20px;
}
.activeNav {
  text-decoration: underline;
}
.btn {
  width: 100px;
  height: 50px;
  background-color: blue;
  color: white;
  border-radius: 6px;
  border: none;
  margin: 10px auto;
}
.alert {
  background-color: red;
}
.warning {
background-color: yellow;
color: black;
}
.Counter {
  background-color: bisque;
  width: 90%;
  margin: 0 auto;
  padding: 20px 30px;
  border: 3px solid black;
  border-radius: 6px;
}
.checkedItem{
  text-decoration: line-through;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}
.productCard {
border: 1px solid black;
background-color:antiquewhite;
border-radius: 6px;
padding: 10px 20px;
}
.productCard:hover {
transform:scale(1.1);
}
.productCard img {
  width: 100%;
  object-fit: cover;
  height: 100px;
}
.productImageCover {
  width: 100%;
}
